/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Ubuntu", sans-serif;

  /* transition: all 0.3s ease-out; */
  /* -webkit-transition: all 0.3s ease-out; */
  /* -moz-transition: all 0.3s ease-out; */
  /* -o-transition: all 0.3s ease-out; */
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: url(https://i.imgur.com/397ANTV.png);
  background-repeat: no-repeat;
  flex-shrink: 0;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  color: var(--txt);
}

main {
  max-width: 1440px;
  margin: 0 auto;
}
