@mixin linkButton {
  @include radiusVariants;

  padding: $space-2xs;

  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  text-align: center;

  cursor: pointer;
  color: var(--txt);
  background: var(--fg-pri);
  border: $border var(--bg-ter);
}

@mixin linkButton2 {
  @include radiusVariants;

  padding: $space-2xs;

  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  text-align: center;

  cursor: pointer;
  color: var(--txt);
  background: var(--bg-sec-a);
  border: $border var(--bg-ter);
}
